body {
    background: linear-gradient(to right, #282828,#917d7d)
   }
   p,h1,h2,ul,span,h3 {
       color: #37bcd4 ;
      

   }

   @font-face {
    font-family: 'Rubik', sans-serif;
    src: url(sansation_light.woff);
  }
  
  p, h1, h2, ul, span,h3 {
    font-family: 'Rubik', sans-serif;
  }


  .box {
    background-color: #303333;
    border: 1px solid;
    border-color: #3ab6b0;
    margin-left: 25%;
    width: 50%;
    margin-bottom: 2px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  img{
    vertical-align: middle;
    text-align: right;
  }

  .button {
    background-color: #3ab6b0;
    border: none;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 15px;
    display: inline-block;
    font-style: normal;
}
.box2 {
  display: inline-block;
  width: 15%;
  height: auto;
  text-align: center;
  vertical-align: top;
  padding: 1%;